@import url('<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet"> ');


.card-nota {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--fundo);
    border: solid 2px var(--primaria);
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 16px;
  }
  .card-nota_cabecalho {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-nota_texto {
    margin-top: 8px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
  }
  
  .card-nota_titulo {
    font-size: 1.2em;
    margin-right: 12px;
    font-family: 'Roboto', sans-serif;
  }

  .card-nota_categoria {
    margin-top: 1rem;
    margin-left: auto;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
  }